.QHBoxLayout{
    background-color: #4f4c4c;
    border-radius: 20px;

}

QLabel {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.QWidget{
    background-color: #4f4c4c;
    border-radius: 20px;
}

a{
   color: hotpink;
}